@page "/get-orders"
@using SalesOrders.Contracts;
@using SalesOrders.Contracts.Response;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Sales Orders</PageTitle>

<h1>Sales Orders</h1>

<div class="row">
    <div class="col-sm-1">
        <a class="btn btn-info" href="new-order">Add</a>
    </div>
</div>
@if (OrderItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Orders OrderItems="@OrderItems" />
}

@code {
    public List<OrderItem>? OrderItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        OrderItems = await Http.GetFromJsonAsync<List<OrderItem>>(Endpoints.GetOrders);
    }
}
