@using SalesOrders.Contracts;
@using SalesOrders.Contracts.Response;

@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (OrderItems == null || OrderItems.Count == 0)
{
    <p>No orders found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in OrderItems)
            {
                <tr>
                    <td>@orderItem.Name</td>
                    <td>@orderItem.State</td>
                    <td>
                        <button @onclick="@(() => ToggleAddWindowContent(orderItem.Id))" class="btn btn-success">Add Window</button>
                        <button @onclick="@(() => DeleteOrder(orderItem.Id))" class="btn btn-secondary">Delete</button>
                    </td>
                </tr>
                @if (showAddWindowContentOrderId == orderItem.Id)
                {
                    <tr>
                        <td colspan="3">
                            <NewWindow OrderId="orderItem.Id"
                               NewWindowItem="WindowItem.CreateForOrder(orderItem.Id)"
                               SaveItem="OnSaveNewWindowToOrder"
                               DiscardItem="OnDiscardAddWindow" />
                        </td>


                    </tr>
                }
                @if (orderItem.Windows != null && orderItem.Windows.Any())
                {
                    <tr>
                        <td colspan="3">
                            <Windows 
                                OrderId="orderItem.Id"
                                WindowItems="orderItem.Windows"
                                OnDeleteCallback="DeleteWindow"
                                OnSaveSubElementCallback="SaveSubElement"
                                OnDeleteSubElementCallback="DeleteSubElement"/>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public List<OrderItem>? OrderItems { get; set; }

    private Guid showAddWindowContentOrderId;

    private void ToggleAddWindowContent(Guid orderId)
    {
        showAddWindowContentOrderId = orderId;
    }

    private async Task DeleteOrder(Guid orderId)
    {
        await Http.DeleteAsync(Endpoints.DeleteOrderUri(orderId));
        NavigationManager.NavigateTo("/get-orders");
    }

    private async Task DeleteWindow(WindowItem item)
    {
        await Http.DeleteAsync(Endpoints.DeleteWindowUri(item.OrderId, item.Id));
        NavigationManager.NavigateTo("/get-orders");
    }

    private async Task SaveSubElement(SubElementItem item)
    {
        await Http.PostAsJsonAsync(Endpoints.NewSubElementUri(item.WindowId), item);
        NavigationManager.NavigateTo("/get-orders");
    }
    private async Task DeleteSubElement(SubElementItem item)
    {
        await Http.DeleteAsync(Endpoints.DeleteSubElementUri(item.WindowId, item.Id));
        NavigationManager.NavigateTo("/get-orders");
    }

    private async void OnSaveNewWindowToOrder(WindowItem windowItem)
    {
        await Http.PostAsJsonAsync(Endpoints.NewWindowUri(windowItem.OrderId), windowItem);
        showAddWindowContentOrderId = Guid.Empty;
        NavigationManager.NavigateTo("/get-orders");
    }

    private void OnDiscardAddWindow()
    {
        showAddWindowContentOrderId = Guid.Empty;
    }
}
