@using SalesOrders.Contracts;
@using SalesOrders.Contracts.Response;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h4>Windows:</h4>
@if(WindowItems == null)
{
    <p> No windows available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th># of Sub elements</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var windowItem in WindowItems)
            {
                <tr>
                    <td>@windowItem.Name</td>
                    <td>@windowItem.QuantityOfWindows</td>
                    <td>@windowItem.NumberOfSubElements</td>
                    <td>
                        <button class="btn btn-light" @onclick="@(async () => DeleteWindowAsync(windowItem))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public List<WindowItem>? WindowItems { get; set; }

    [Parameter]
    public EventCallback<WindowItem> OnDeleteCallback { get; set; }


    public async void DeleteWindowAsync(WindowItem item)
    {
        await OnDeleteCallback.InvokeAsync(item);
        
    }
}
